<div class="form-group">
	<label for="comentario">Comentario</label>
	<input type="text" class="form-control" id="pregunta" name="comment[texto]" placeholder="comentario" placeholder="Comentario">
</div>

<a class="btn btn-primary" href="/quizes/<%=quiz.id%>/comment">Cancelar</a>
<button type="submit" class="btn btn-primary">Guardar</button>