<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Quizes</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/font-awesome.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

	<div class="container-fluid">


		<section class="row">
			<div class="col-sm-3" id="sidebar">
				<!--<div class="logo">
					<i class="fa fa-connectdevelop img"></i>
					<h2>QUIZES</h2>		
				</div>
				<div class="opciones">
					<form action="" method="POST" role="form">
						<legend>Login</legend>
					
						<div class="form-group">
							<label for="">Usuario</label>
							<input type="text" class="form-control" id="" placeholder="Usuario">
						</div>
						<div class="form-group">
							<label for="">Contraseña</label>
							<input type="text" class="form-control" id="" placeholder="Contraseña">
						</div>
						
					
						<button type="submit" class="btn btn-primary">Iniciar sesión</button>
					</form>
				</div>-->

				<nav class="navbar" role="navigation">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">
							<div class="logo">
								<i class="fa fa-connectdevelop img"></i>
								<h2>QUIZES</h2>		
							</div>
						</a>
					</div>
				
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<form method="POST" action="" role="form">
							<legend>Login</legend>
					
							<div class="form-group">
								<label for="">Usuario</label>
								<input type="text" class="form-control" id="" placeholder="Usuario">
							</div>
							<div class="form-group">
								<label for="">Contraseña</label>
								<input type="text" class="form-control" id="" placeholder="Contraseña">
							</div>
							
						
							<button type="submit" class="btn btn-primary">Iniciar sesión</button>
						</form>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="/author">Créditos</a></li>
							
						</ul>
						
						
					</div><!-- /.navbar-collapse -->
				</nav>
			</div>
			<div class="col-sm-9">
				<div class="row">
					<%- body %>		
				</div>
				
			</div>
			
		</section>
		<footer class="row">
			<h3 class="text-center"><a href="https://github.com/jhon861228/quiz_2015" target="_blank">¿Que es un quiz?</a></h3>
		</footer>
		
	</div>
	

	<script src="/javascripts/jquery-2.1.4.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>