<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Quizes</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/font-awesome.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

	<div class="container-fluid">


		<section class="row">
			<div class="col-sm-3" id="sidebar">

				<nav class="navbar" role="navigation">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">
							<div class="logo">
								<i class="fa fa-connectdevelop img"></i>
								<h2>QUIZES</h2>		
							</div>
						</a>
					</div>
				
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse clear">
						<% if(!session.user){%>
						<form method="POST" action="/login" role="form">
							<legend>Login</legend>
					
							<div class="form-group">
								<label for="">Usuario</label>
								<input type="text" name="login" class="form-control" id="" placeholder="Usuario">
							</div>
							<div class="form-group">
								<label for="">Contraseña</label>
								<input type="password" class="form-control" name="password" id="" placeholder="Contraseña">
							</div>
							
						
							<button type="submit" class="btn btn-primary">Iniciar sesión</button>
						</form>
						<%}else{%>
							<h4><span class="label label-default">Hola, <%=session.user.username%></span></h4>
							<form method="POST" action="/logout/?_method=delete">
								<button class="btn btn-primary">Cerrar sesión</button>
							</form>
							
						<%}%>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="/author">Créditos</a></li>
							<li><a href="/quizes">Lista de quizes</a></li>
						</ul>
						
						
					</div><!-- /.navbar-collapse -->
				</nav>
			</div>
			<div class="col-sm-9">
				<div class="row contenido">
					<% if(errors.length){ %>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="alert alert-warning col-md-8 col-md-offset-2">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Corregin errores</strong> <br>
								<% for (var i in errors) {%>
									<%=errors[i].message;%><br>
								<%}%>
							</div>
						</div>
					<%}%>
					<%- body %>		
				</div>
				
			</div>
			
		</section>
		<footer class="row">
			<h3 class="text-center"><a href="https://es.wikipedia.org/wiki/Quiz
			" target="_blank">¿Que es un quiz?</a></h3>
			<h3 class="text-center"><a href="https://github.com/jhon861228/quiz_2015" target="_blank">Github</a></h3>
		</footer>
		
	</div>
	

	<script src="/javascripts/jquery-2.1.4.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script>
		$(function(){
			$('[data-toggle="tooltip"]').tooltip()
		});
	</script>
</body>
</html>