.container-fluid,body,html{
	height: 100%;
	max-height: 100%;
}
section{
	height: 90%;
}
footer{
	height: 10%;
	background: #434343;
	color: white;
}
footer h1{
	text-align: center;
}
.respuesta_pregunta legend{
	color: black;
}
.respuesta_pregunta .panel-default{
	background-color: rgb(232, 232, 232);
}
.imagen_respuesta{
	width: 120px;
	display: block;
	margin: auto;
}
.list-group-item.primary{
	color: white;
	font-weight: bold;
	background-color: rgb(104, 89, 160);
}
.list-group-item.primary:hover,.list-group-item.primary:focus{
	color: white;
	font-weight: bold;
	background-color: rgb(88, 71, 153);
}
.form-search{
	margin-bottom: 20px;
}
legend{
	color: white;
}
#sidebar{
	background: #534292;
	color: white;
	height: 100%;
	max-height: 100%;
	overflow-y: auto;
}
.nav-pills > li > a{
	color: white;
    background-color: rgb(51, 122, 183);
}
.nav > li > a:hover, .nav > li > a:focus{
	background-color: #1462A5;
}
.contenido{
	padding-top: 30px;
}
.logo{
	display: table;
	margin: auto;
}
.logo .img{
	margin-right: 20px;
	font-size: 40px;
}
.logo .img,.logo h2{
	display: inline-block;
}
.navbar-collapse .nav{
	margin-top:20px;
	padding-top: 10px;
	border-top: 1px solid white;
}
a {
  color: #00B7FF;
}
.autor{
	width: 70%;
	margin: auto;
	margin-top:50px;
	text-align: center;
	padding: 10px;
	background: #E1E0E0;
	box-shadow: 2px 2px 2px #ccc;
}
.autor img{
	width: 100px;
	border-radius: 50%;
	display: block;
	margin: auto;
}
footer h3{
	display: inline-block;
	width: 49%;
	text-align: center;
}
@media only screen and (max-width: 768px){
	
	.container-fluid,body,html{
		height: auto;
		max-height: auto;
	}
	section{
		height: auto;
	}
	footer{
		height: auto;
		
	}
	.navbar-collapse .form-group{
		display: inline-block;
		width: 49%;
	}
}