<form action="/quizes/respuesta" method="get">
	<label for=""><%= pregunta %></label>
	<input type="text" name="respuesta">
	<input type="hidden" name="id" value="<%= id %>">
	<input type="submit" value="enviar">
</form>
