<div class="respuesta_pregunta">
	<div class="col-md-6 col-md-offset-3">

		<div class="panel panel-default">
			<div class="panel-body">
				<form action="/quizes/<%= quiz.id %>/respuesta" method="get" role="form">
					<legend>Pregunta</legend>

					<div class="form-group">
						
						<label for="respuesta"><%= quiz.pregunta %></label>
						<span class="label label-primary" style="float:right;font-size:1.01em;">
							<%=quiz.indice%>
						</span>
						<input type="text" class="form-control" name="respuesta" id="respuesta" placeholder="<%=quiz.pregunta%>">
					</div>

					<button type="submit" class="btn btn-primary">Calificar</button>
				</form>	   
			</div>
		</div>
		

	</div>
</div>